# Node modules
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Build directories
dist/
build/
.cache/
.parcel-cache/
.docusaurus/
.nuxt/
.temp/
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache

# Coverage and reports
coverage/
*.lcov
.nyc_output/
report.*.json

# TypeScript
*.tsbuildinfo

# ESLint / Stylelint cache
.eslintcache
.stylelintcache

# Others
.rpt2_cache/
.rts2_cache_*
.vscode-test
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# REPL
.node_repl_history

# NPM pack
*.tgz

# Ignore macOS and Linux hidden files
.DS_Store
